In [6]:
import sqlite3
import pandas as pd
import numpy as np

In [7]:
# SCRAPE THE BILLBOARD 200 DATA

# connect with database
conn = sqlite3.connect("billboard-200.db")

# cursor is temp work area for manipulating SQL stmts
#cursor = conn.cursor()

# retrieve data from the 'album' table
album_query = "SELECT * FROM albums"
albums = pd.read_sql(album_query, conn) 

#album_query = cursor.execute()

# retireve data from the 'acoustic_features' table
features_query = "SELECT * FROM acoustic_features"
acoustic_features = pd.read_sql(features_query, conn)

DatabaseError: Execution failed on sql 'SELECT * FROM albums': no such table: albums

In [5]:
albums.head()

NameError: name 'albums' is not defined

In [ ]:
acoustic_features.head()

In [ ]:
conn.close()

4